# Java #
*.class

# Package Files #
*.jar
*.war
*.ear

# media files #
**/*.jpg
**/*.jpeg
**/*.mpg
**/*.mp4
**/*.bmp
**/*.3gp
**/*.mov
**/*.MOV
**/*.log

# output files #
*yes*.xml
*no*.xml

# Maven #
target/

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

output*